@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matt and Brittney's Wedding</title>

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Cinzel+Decorative|Macondo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,700italic' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/controllers")
    @Scripts.Render("~/bundles/directives")
</head>
<body ng-app="mbsite">
    <div id="PageContainer" class="container-fluid" ng-controller="pageController">
        <div class="row">
            <div class="LeftSide col-md-3 hidden-sm hidden-xs">
                <div class="SideNavBars" ng-click="menuOpen = !menuOpen">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="SideNav nga-default nga-stagger nga-rotate-right" ng-hide="!menuOpen">
                    <h1> B + M </h1>
                    <ul>
                        <li><a href="/home">Our Story</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/weddingparty">Wedding Party</a></li>
                        <li><a href="/info">Wedding Info</a></li>
                        <li><a href="/gifts">Gifts</a></li>
                        <li><a href="/guestbook">Guestbook</a></li>
                    </ul>
                </div>
                <sidebar></sidebar>
            </div>
            <div class="col-sm-12 MainCol col-xs-12 col-md-9">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</body>
</html>

